body {
    background: #121212;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
