body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.produto {
    background: #222;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

.produto h2 {
    margin: 10px 0;
    color: gold;
}
